@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-fundo: #b6b8ff /*182,184,255*/;
    --cor-primaria: #1B365C /*54,101,181*/;
    --cor-secundaria: #3665b5;
    --cor-destaque: #070C14;
    --cor-hover:#8084f3;

    --font-montserrat: "Montserrat", sans-serif;
    --font-krona_one: "Krona One", sans-serif;
    --font-size-h1: 2.25rem;
    --font-size-p: 1.25rem;
    --font-weight-texto: 400;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-fundo) ;
    color: var(--cor-primaria);
    
}
.CABECA{
    padding: 2% 0 0 18%;
}
.CABECA__MENU{
    display: flex;
    gap: 5rem;

}
.CABECA__MENU__BOTAO{
    font-family: var(--font-montserrat);
    font-size: var(--font-size-p);
    font-weight: 600;
    color: var(--cor-destaque);
    text-decoration: none;
}
.DESTAQUE_TITULO{
    color: var(--cor-destaque);
}
.APRESENTACAO{
    padding: 5% 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.APRESENTACAO__TEXTO{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

}
.APRESENTACAO__TEXTO__TITULO{
    font-size: var(--font-size-h1);
    font-family: var(--font-krona_one);
    font-weight: var(--font-weight-texto);
    font-style: normal;
}
.APRESENTACAO__TEXTO__P{
    font-size: var(--font-size-p);
    font-family: var(--font-montserrat);
    font-optical-sizing: auto;
    font-weight: var(--font-weight-texto);
    font-style: normal;
}
.APRESENTACAO__LINK{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.APRESENTACAO__LINK__SUB{
    font-family: var(--font-krona_one);
    font-weight: var(--font-weight-texto);
    font-style: normal;
    font-size: var(--font-size-p);
    color: var(--cor-destaque);
}
.APRESENTACAO__LINK__BOTAO{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: .31rem solid var(--cor-secundaria);
    text-align: center;
    width: 50%;
    padding: 1.34rem 0;
    border-radius: .5rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-destaque);
    font-family: var(--font-montserrat);
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.APRESENTACAO__LINK__BOTAO:hover{
    cursor: pointer;
    background-color:var(--cor-hover) ;
    padding: 3%;
}
.APRESENTACAO__IMG{
    width: 50%;
}

.RODAPE{
    padding: 1.5rem;
    color: var(--cor-destaque);
    background-color: var(--cor-secundaria);
    text-align: center;
    font-family: var(--font-montserrat);
    font-optical-sizing: auto;
    font-weight: var(--font-weight-texto);

}

@media (max-width:1200px) {
    .CABECA {
        padding: 10% ;
    }

    .CABECA__MENU {
        justify-content: center;
    }

    .APRESENTACAO {
        flex-direction: column-reverse;
    }
}