@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-fundo: #b6b8ff /*182,184,255*/;
    --cor-primaria: #1B365C /*54,101,181*/;
    --cor-secundaria: #3665b5;
    --cor-destaque: #070C14;
    --cor-hover:#8084f3;

    --font-montserrat: "Montserrat", sans-serif;
    --font-krona_one: "Krona One", sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-fundo) ;
    color: var(--cor-primaria);
    
}
.CABECA{
    padding: 2% 0 0 18%;
}
.CABECA__MENU{
    display: flex;
    gap: 80px;

}
.CABECA__MENU__BOTAO{
    font-family: var(--font-montserrat);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-destaque);
    text-decoration: none;
}
.DESTAQUE_TITULO{
    color: var(--cor-destaque);
}
.APRESENTACAO{
    padding: 5% 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.APRESENTACAO__TEXTO{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.APRESENTACAO__TEXTO__TITULO{
    font-size: 36px;
    font-family: var(--font-krona_one);
    font-weight: 400;
    font-style: normal;
}
.APRESENTACAO__TEXTO__P{
    font-size: 24px;
    font-family: var(--font-montserrat);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.APRESENTACAO__LINK{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}
.APRESENTACAO__LINK__SUB{
    font-family: var(--font-krona_one);
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: var(--cor-destaque);
}
.APRESENTACAO__LINK__BOTAO{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: 5px solid var(--cor-secundaria);
    text-align: center;
    width: 378px;
    padding: 21.5px 0;
    border-radius: 8px;
    font-size: 24px;
    text-decoration: none;
    color: var(--cor-destaque);
    font-family: var(--font-montserrat);
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.APRESENTACAO__LINK__BOTAO:hover{
    cursor: pointer;
    background-color:var(--cor-hover) ;
    padding: 3%;
}
.RODAPE{
    padding: 24px;
    color: var(--cor-destaque);
    background-color: var(--cor-secundaria);
    text-align: center;
    font-family: var(--font-montserrat);
    font-optical-sizing: auto;
    font-weight: 400;

}